@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    
    font-size: 3rem;
    color:white;
}
a{
    display: inline-block;
    text-decoration: none;
    color:black;
}
@keyframes head {
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height:80vh;

   

}
.gradient{
 background-image: linear-gradient(-45deg, #70e000, #C75454, #9454C7, #54B2C7);
 background-size: 300%;
 -webkit-background-clip: text;
 /* -webkit-text-fill-color: transparent; */
 animation:head 10s infinite alternate;
}
.heading h1{
    font-weight:400;
    font-size:6rem;
    color:transparent;
}
.heading p{
    color:transparent;
    font-size:2.5rem;
    text-align: center;
}

.brand-name{
    display:inline-block;
    text-decoration: none;
    padding:7px 30px;
    color:white;
    font-weight: 500;
    font-size:1.4rem;
}
.bg-image{
    /* background-image:url("../Assets/wa.jpg"); */
    background-color: black;
    /* background-size:cover; */
    position:fixed;
    top:0;
    height:100vh;
    width: 100%;
    z-index: -1;
    
}
.bg-image img{
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    clip-path:circle(0px at center);
}
#detect{
    margin-top:110vh;
    
    height: 300px;
}
    
/* section ::content */

#content{
    /* background-color: white; */
    position:fixed;
    top:0;
    opacity:1;
    
    
}
#navigation{
    display:flex;
    justify-content: space-between;
    padding:1% 10%;
}
.nav-menu{
    display:flex;
    list-style-type:none;
}

.nav-menu li a{
    padding:10px 30px;
    white-space: nowrap;
    color:rgba(255, 255, 255, 0.725);
    
}
.nav-menu li a:hover{
    color:white;
}
.nav-btn   {
    display: flex;
}
.btn{
    border:none;
     background-color: transparent;
     margin-inline: 3px;
}
.btn a{
    
    padding:10px 30px;
    
    font-size: 1rem;
    
   
}
.login{
    border:1px solid white;
    border-radius: 10px;
}
.login a{
    color:white;
}
.btn:hover{
    background-color: white;
    transition: all ease-in-out 0.2s;
    
}
.btn:hover a{
    color: black;
}
.signup{
    background-color: rgba(255, 255, 255, 0.923);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.91);
    
}
.signup a{
    color:black;
    font-weight: 600;
}


/* title ::content */
#title{
    padding:1% 10%;
    display:flex;
    justify-content: start;
    
}
.title-content{
   display:flex;
   flex-direction: column; 
   justify-content: space-between;
   width:40%;
   padding:100px 0 0;
   
}
.title{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: 800;
}
.para{
    padding:30px 0 0 ;
    color:#8f8f8f;
    line-height: 2;
}

.title-btn{
    margin-top:80px;
}
@media (max-width:992px) {
    .title-content{
        width:60%;
    }
    .title{
        font-size:2.4rem;
    }
    .para{
        font-size:1rem;
    }
}